.table {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

th {
  border: none;
  width: 90px;
  height: 90px;
}
table {
  width: 400px;
  height: 400px;
}

button {
  margin-top: 17px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid rgb(170, 168, 168);
  font-size: 60px;
}


#restart{
  margin-left: 50%;
  height: 40px;
  background-color: red;
  border: 1px solid rgb(204, 197, 197);
  border-radius: 10px;
}

h1{
  text-align: center;
}