/* Null style */
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Null style */
.table {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

td {
  border: 1px solid black;
  width: 90px;
  height: 90px;
}
table {
  width: 400px;
  height: 400px;
}

button {
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid rgb(170, 168, 168);
  font-size: 60px;
}

#restart{
  width: 115px;
  height: 40px;
  background-color: rgb(198, 9, 9);
  border: 1px solid rgb(204, 197, 197);
  border-radius: 10px;
}

#newPlayer{
  width: 115px;
  height: 40px;
  background-color: rgb(99, 216, 103);
  border: 1px solid rgb(204, 197, 197);
  border-radius: 10px;
}

#play_AI{
  width: 115px;
  height: 40px;
  background-color: rgb(99, 216, 103);
  border: 1px solid rgb(204, 197, 197);
  border-radius: 10px;
}

#newGame{
  width: 115px;
  height: 40px;
  background-color: rgb(99, 216, 103);
  border: 1px solid rgb(204, 197, 197);
  border-radius: 10px;
}

h1{
  text-align: center;
  height: 15px;
}

.tips{
  position: absolute;
  background-color: rgb(205, 176, 132);
  border-radius: 10px;
  width: 200px;
  font-size: larger
}

@media (max-width: 816px) {
  .tips{
    opacity: 0;
  }
}

@media (max-width: 500px) {
  #newPlayer{
    width: 90px;
    height: 40px;
    background-color: rgb(99, 216, 103);
    border: 1px solid rgb(204, 197, 197);
    border-radius: 10px;
  }
  
  #play_AI{
    width: 90px;
    height: 40px;
    background-color: rgb(99, 216, 103);
    border: 1px solid rgb(204, 197, 197);
    border-radius: 10px;
  }
  
  #newGame{
    width: 90px;
    height: 40px;
    background-color: rgb(99, 216, 103);
    border: 1px solid rgb(204, 197, 197);
    border-radius: 10px;
  }

  #restart{
    width: 90px;
    height: 40px;
    background-color: rgb(198, 9, 9);
    border: 1px solid rgb(204, 197, 197);
    border-radius: 10px;
  }
}