.table {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

th {
  border: none;
  width: 90px;
  height: 90px;
}
table {
  width: 400px;
  height: 400px;
}

button {
  margin-top: 17px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid rgb(170, 168, 168);
  font-size: 60px;
}

#restart{
  width: 115px;
  height: 40px;
  background-color: rgb(198, 9, 9);
  border: 1px solid rgb(204, 197, 197);
  border-radius: 10px;
}

#newPlayer{
  width: 115px;
  height: 40px;
  background-color: rgb(99, 216, 103);
  border: 1px solid rgb(204, 197, 197);
  border-radius: 10px;
}

#play_AI{
  width: 115px;
  height: 40px;
  background-color: rgb(99, 216, 103);
  border: 1px solid rgb(204, 197, 197);
  border-radius: 10px;
}

#newGame{
  width: 115px;
  height: 40px;
  background-color: rgb(99, 216, 103);
  border: 1px solid rgb(204, 197, 197);
  border-radius: 10px;
}

h1{
  text-align: center;
  height: 15px;
}

.tips{
  position: absolute;
  background-color: rgb(205, 176, 132);
  border-radius: 10px;
  width: 200px;
  font-size: larger
}

@media (max-width: 816px) {
  .tips{
    opacity: 0;
  }
}